.App {
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
colours{
  color:#EED98D;
  color:#E8D1C0;
  color:#DAE1DD;
  color:#ADB3A4;
  color:#474C55;

}

.App-link {
  color: #61dafb;
}

.Logo{
  margin: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
