.App {
  text-align: center;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

colours{
  color:#EED98D;
  color:#E8D1C0;
  color:#DAE1DD;
  color:#ADB3A4;
  color:#474C55;

}

.Logo{
  margin: 40px;
}

.Nav {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
